---
import Button from '../ui/Button.astro';
import '../../styles/Hero.scss';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="hero-section">

  <!-- Glow -->
  <div class="glow glow-1"></div>
  <div class="glow glow-2"></div>

  <div class="hero-container">

    <!-- BADGE -->
    <div class="hero-badge reveal">
      <span class="dot"></span>
      {t('hero.badge')}
    </div>

    <!-- TITLE -->
    <h1 class="reveal delay-100">
      QA Automation & Fullstack Dev
      <span>{t('hero.title')}</span>
    </h1>

    <!-- SUBTITLE -->
    <h2 class="reveal delay-200">
      {t('hero.subtitle')}
    </h2>

    <!-- DESCRIPTION -->
    <p class="reveal delay-300">
      {t('hero.description')}
    </p>

    <!-- BUTTONS -->
    <div class="hero-buttons reveal delay-400">
      <Button variant="primary" href="/projects">
        {t('hero.projectsBtn')}
      </Button>

      <Button variant="secondary" href="/contact">
        {t('hero.contactBtn')}
      </Button>
    </div>

  </div>

</section>