---
import { defaultLang } from '../i18n/ui';
---

<html lang={defaultLang}>
  <head>
    <meta http-equiv="refresh" content={`0;url=/${defaultLang}/`} />
    <title>Redirigiendo...</title>
  </head>
  <body>
    Redirigiendo a <a href={`/${defaultLang}/`}>la versión en {defaultLang}</a>...
  </body>
</html>
