---
import '../styles/Button.scss';

interface Props {
  variant?: 'primary' | 'secondary';
  class?: string;
}

const { variant = 'primary', class: className } = Astro.props;
---

<button class={`button button-${variant} ${className || ''}`}>
  <slot />
</button>
