---
// Script del componente: Aquí irá lógica de JavaScript si la necesitas en el futuro 
---

<section class="hero">
  <h1 class="hero__title">Danny Marcelo Dávila Barrancos</h1>
  <p class="hero__subtitle">QA & Full Stack Dev</p>
</section>

<style lang="scss">
  @use "../styles/variables" as *;

 .hero {
    background-color: $bg-color;
    padding: 4rem;
    text-align: center;

    &__title {
      color: $accent-blue;
      font-size: 3rem;
    }
  }
</style>